body{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
    //text-shadow: 1px 1px 2px black, 0 0 1em black;
}



.btn-default:hover{
    border-color: #1351bc;
    background-color: #1351bc;
}